body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(128, 128, 209);
  color: rgb(237, 230, 220);
  text-shadow: 2px 2px 10px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120vh;
}

.footerContainer {
  background-color: rgba(74, 74, 83, 0.68);
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 120px;
  width: 100%;
  text-align: center;
  line-height: 2em;
}

.footerList:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sold-label {
  color: red;
  font-weight: bold;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2em;
}

h1 a {
  color: white;
  text-decoration: none;
}

nav a {
  color: rgb(237, 230, 220);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.soldContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2em;
}
